h1 {
    margin: 0 auto;
    width: fit-content;
}
h2 {
    margin: 0 auto;
    width: fit-content;
}
h3 {
    margin: 0 auto;
    width: fit-content;
}
h4 {
    margin: 0 auto;
    width: fit-content;
}
h5 {
    margin: 0 auto;
    width: fit-content;
}
h6 {
    margin: 0 auto;
    width: fit-content;
}